body{
    margin: 0;
    padding: 0;
    background-color: azure;
}
.header1{
    margin: 0 auto;
    background-color: #F5F5F5;
    padding-top: 10px;
    width: 1200px;
    height: 70px;
    /* border: 2px solid #000000; */
    display: flex;
    justify-content: center;
    gap: 15px;
}
#img1{
    border: 2px solid #DEDEDE;
    height: 50px;
}
#img2{
    border: 2px solid #DEDEDE;
     height: 50px;
}
#img3{
    border: 2px solid #DEDEDE;
     height: 50px;
}
#img4{
    border: 2px solid #DEDEDE;
     height: 50px;
}
#img5{
    border: 2px solid #DEDEDE;
     height: 50px;
}
#img6{
    border: 2px solid #DEDEDE;
     height: 50px;
}
.header2{
        margin: 0 auto;
    background-color: #FFFFFF;
    padding-top: 10px;
    width: 1200px;
    height: 150px;
    /* border: 2px solid #000000; */
    display: flex;
    justify-content: center;
    gap: 10px;
}
#icon1{
    height: 100px;
     border: 2px solid #DEDEDE;
     width: 120px;
     text-align: center;
}
#icon1:hover{
    color: white;
    background-color: #919191;
}
#icon2{
    height: 100px;
     border: 2px solid #DEDEDE;
     width: 120px;
     text-align: center;
}
#icon2:hover{
    color: white;
    background-color: #E3350D;
}
#icon3{
    height: 100px;
     border: 2px solid #DEDEDE;
     width: 120px;
     text-align: center;
}
#icon3:hover{
    color: white;
    background-color: #F1824F;
}
#icon4{
    height: 100px;
     border: 2px solid #DEDEDE;
     width: 120px;
     text-align: center;
}
#icon4:hover{
    color: white;
    background-color: #E6BC2F;
}
#icon5{
    height: 100px;
     border: 2px solid #DEDEDE;
     width: 120px;
     text-align: center;
}
#icon5:hover{
    color: white;
    background-color: #4DAD5B;
}
#icon6{
    height: 100px;
     border: 2px solid #DEDEDE;
     width: 120px;
     text-align: center;
}
#icon6:hover{
    color: white;
    background-color: #30A7D7;
}
#icon7{
    height: 100px;
     border: 2px solid #DEDEDE;
     width: 120px;
     text-align: center;
}
#icon7:hover{
    color: white;
    background-color: #1B53BA;
}
.main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 900px;
    height: 800px;
    background-color: aquamarine;
    display: flex;
    margin: 0 auto;
}
.section1{
    width: 70%;
    height: 100%;
    background-color: blue;
}
.section2{
    width: 30%;
    height: 100%;
    background-color: blueviolet;
    margin: 5px;
}
.item{
    width: 100%;
    height: 70%;
    background-color: brown;
    text-align: center;
     color: white;
}
.item img{
   width: 100%;
}
.row{
    display: flex;
    width: 100%;
    height: 30%;
}
.column1{
    width: 50%;
    height: 100%;
    background-color: cadetblue;
    text-align: center;
}
.column1 img{
    width: 100%;
    height: 70%;
}
.column2{
    width: 50%;
    height: 100%;
    background-color: bisque;
    text-align: center;
}
.column2 img{
    width: 100%;
    height: 70%;
}
.column-01{
    width: 100%;
    height: 33.33%;
    background-color: red;
    text-align: center;
}
.column-01 img{
    width: 100%;
    height: 70%;
}
.column-02{
    width: 100%;
    height: 33.33%;
    background-color: yellow;
    text-align: center;
}
.column-02 img{
    width: 100%;
    height: 70%;
}
.column-03{
    width: 100%;
    height: 33.33%;
    background-color: yellowgreen;
    text-align: center;
}
.column-03 img{
    width: 100%;
    height: 70%;
}
 /* slisdeer */
 .containerl{
    margin: 0 auto;
    width: 900px;
    height: 950px;
    border: 2px solid rgb(224, 222, 222);
    text-align: center;
    
 }
 .roow{
        display: flex;
    justify-content: space-evenly;
 }
 #col{
    width: 290px;
    height: 300px;
    /* border: 3px solid black; */
    background-color: #E3350D;
     border-radius: 20px;

 }
 .roow img{
    width: 290px;
    height: 200px;
      border-radius: 20px;
 }
 .roow2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
 }
  #col2{
    width: 290px;
    height: 300px;
    /* border: 3px solid black; */
    background-color: #E6BC2F;
     border-radius: 20px;

 }
  .roow2 img{
    width: 290px;
    height: 200px;
    border-radius: 20px; 
 }
  .roow3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

 }
   #col3{
    width: 290px;
    height: 300px;
    /* border: 3px solid black; */
    background-color: #4DAD5B;
     border-radius: 20px;

 }
  .roow3 img{
    width: 290px;
    height: 200px;
     border-radius: 20px;
 }
 .Footer{
    margin:  0 auto;
    width: 900px;
    height: 600px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    background-color: black;
 }
#col4{
    padding-top: 40px;
    width: 430px;
    height: 700px;
    /* border: 2px solid black; */
    color: white;
}
.Footer a{
    text-decoration: none;
    color: white;
}